.col-lg-4 {
    padding: 10px;
}

.control-label {
    padding-top: 17px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 0.25em;
}
select {
    width: 100%;
    height: 35px;
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
    border: 1px solid #ccc;
}
/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
