<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4>Change Password</h4>
                <hr>
                <div class=" form">
                    <form class="form-horizontal" id="commentForm" [formGroup]="changePasswordForm"
                        (ngSubmit)="onFormSubmit()" novalidate>
                        <div class="row">
                            <div class="form-group ">
                                <label for="cemail" class="control-label col-lg-2">Email Id <span class="colred">
                                        *</span></label>
                                <div class="col-lg-4">
                                    <input class="form-control" id="cname" name="name" type="text"
                                        formControlName="EmailId" disabled />
                                    <span class="error-mess"
                                        *ngIf="isSubmitted && changePasswordForm.controls.EmailId.errors?.required">
                                        Old Password is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cemail" class="control-label col-lg-2">Old Password <span class="colred">
                                        *</span></label>
                                <div class="col-lg-4">
                                    <input class="form-control" id="cname" name="name" type="password"
                                        formControlName="CurrentPassword" />
                                    <span class="error-mess"
                                        *ngIf="isSubmitted && changePasswordForm.controls.CurrentPassword.errors?.required">
                                        Old Password is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">New Password <span class="colred">
                                        *</span></label>
                                <div class="col-lg-4">
                                    <input class=" form-control" id="cname" name="name" type="password"
                                        formControlName="NewPassword" />
                                    <span class="error-mess"
                                        *ngIf="isSubmitted && changePasswordForm.controls.NewPassword.errors?.required">
                                        New Password is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Confirm Password <span class="colred">
                                        *</span></label>
                                <div class="col-lg-4">
                                    <input class=" form-control" id="cname" name="name" type="password"
                                        formControlName="ConfirmPassword" />
                                    <span class="error-mess"
                                        *ngIf="isSubmitted && changePasswordForm.controls.ConfirmPassword.errors?.required">
                                        Confrim Password is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-6">
                                    <button class="btn btn-theme">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>