<div id="login-page" class="login_img">
    <div class="container">
        <form class="form-login" [formGroup]="resetForm" (ngSubmit)="onResetSubmit()" novalidate>
            <h2 class="form-login-heading">Reset Password</h2>
            <div class="login-wrap">
                <input type="password" class="form-control" placeholder="New Password" autofocus
                    formControlName="Password">
                <span class="error-mess" *ngIf="isSubmitted && resetForm.controls.Password.errors?.required">
                    New Password is required.
                </span>
                <br>
                <input type="password" class="form-control" placeholder="Confirm Password"
                    formControlName="ConfirmPassword">
                <span class="error-mess" *ngIf="isSubmitted && resetForm.controls.ConfirmPassword.errors?.required">
                    Confirm Password is required.
                </span>
                <button style="margin-top: 15px;" class="btn btn-theme btn-block"><i class="fa fa-lock"></i>
                    Submit</button>
            </div>
        </form>
    </div>
</div>