<ng-sidebar-container style="height: 100vh;">
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" [mode]="slide">
        <div class="header_cont">
            <div class="sidebar-toggle-box" style="padding-left: 15px">
                <div (click)="_toggleOpened()"><i class="fas fa-bars"></i></div>
            </div>
            <!--logo start-->
            <img alt="Global Assist" src="assets/img/logo.png" class="centered" width="85">
        </div>
        <p class="centered">
            <a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="80"></a>
        </p>
        <h5 class="centered">Rajesh Pagare</h5>
        <nav class='animated bounceInDown'>
            <ul>
                <li class=" active" (click)="Openpage('profile')"><i class="fa fa-book"></i>Profile</li>
                <li id="sub-menu" class='sub-menu' (click)="submenu($event)"><i class="fa fa-desktop"></i>Contact
                    <ul class="sub-item">
                        <li (click)="Openpage('member-list')">Member List</li>
                        <li (click)="Openpage('add-member')">Add Member</li>
                        <li (click)="Openpage('reportapproval')">Report Approval</li>
                    </ul>
                </li>
                <li class="" (click)="Openpage('sendreport')"><i class="far fa-file-alt"></i>&nbsp; Send Report</li>
                <li class="" (click)="Openpage('reporthistory')"><i class="fa fa-book"></i>Report History</li>
                <li (click)="Openpage('dashboard')"><i class="fas fa-tachometer-alt"></i> &nbsp; Dashboard</li>
                <li (click)="Openpage('logout')"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</li>
            </ul>
        </nav>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div (click)="_toggleOpened()"><i class="fas fa-bars"></i></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo"><img alt="Global Assist" src="assets/img/logo.png" class="centered" width="85"></a>
            <!--logo end-->

            <div class="header-btn d-none f-right d-lg-block" *ngIf="!isMobile">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>Saran (Manager)</strong> &nbsp;
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img style="width: 108px;margin-top: 7px;" src="assets/img/ui-sam.jpg">
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>Saran Vaithiyanathan</strong></p>
                                            <p class="text-left small">saran@vecan.co</p>
                                            <p class="text-left">
                                                <span (click)="Openpage('logout')"
                                                    class="dropbtn btn-primary btn-block btn-sm">Logout</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <span class="dropbtn btn-danger btn-block">Change
                                                    Password</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
        </header>
        <section class="demo-contents">
            <router-outlet></router-outlet>
        </section>
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Global Assist</strong>. All Rights Reserved
                </p>
            </div>
        </footer>
    </div>
</ng-sidebar-container>