<ng-sidebar-container style="height: 100vh;">
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" [mode]="slide">
        <div class="header_cont">
            <div class="sidebar-toggle-box" style="padding-left: 15px">
                <div (click)="_toggleOpened()"><i class="fas fa-bars"></i></div>
            </div>
            <!--logo start-->
            <img alt="Global Assist" src="assets/img/logo.png" class="centered" width="85">
        </div>
        <p class="centered">
            <a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="80"></a>
        </p>
        <h5 class="centered">Rajesh Pagare</h5>
        <nav class='animated bounceInDown'>
            <ul>
                <li class=" active" (click)="Openpage('profile')"><i class="fa fa-book"></i>Profile</li>
                <li id="sub-menu" class='sub-menu' (click)="submenu($event)"><i class="fa fa-desktop"></i>Contact
                    <ul class="sub-item">
                        <li (click)="Openpage('member-list')">Member List</li>
                        <li (click)="Openpage('add-member')">Add Member</li>
                        <li (click)="Openpage('report-approval')">Report Approval</li>
                    </ul>
                </li>
                <li (click)="Openpage('dashboard')"><i class="fas fa-tachometer-alt"></i> &nbsp; Dashboard</li>
                <li (click)="Openpage('logout')"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</li>
            </ul>
        </nav>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div (click)="_toggleOpened()"><i class="fas fa-bars"></i></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo"><img alt="Global Assist" src="assets/img/logo.png" class="centered"
                    width="85"></a>
            <!--logo end-->
        </header>
        <section class="demo-contents">
            <router-outlet></router-outlet>
        </section>
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Global Assist</strong>. All Rights Reserved
                </p>
            </div>
        </footer>
    </div>
</ng-sidebar-container>