::ng-deep aside {
    background: #22242ae6 !important;
    padding: 2em 1em;
    position: absolute;
    top: 60px;
}

h5 {
    color: #f2f2f2;
    font-weight: 700;
}

.demo-contents {
    min-height: 916px !important;
}

.header_cont {
    background-color: #22242a;
    height: 58px;
    margin-bottom: 35px;
    margin-left: -13px;
    margin-right: -13px;
    margin-top: -24px;
}

.demo-header {
    align-items: center;
    background: #0273d4;
    box-shadow: 0 0.1em 1.5em rgb(84 85 85 / 50%);
    color: #fff;
    display: flex;
    padding: 1em;
}

.header-btn {
    position: relative;
    top: 23px;
    right: 30px;
}

nav {
    position: relative;
    margin: 15px 50px 50px 0px;
    width: 147px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 196px;
}
nav ul li {
    cursor: pointer;
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
nav ul li:hover {
    color: #515151;
}
nav ul li .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}
nav ul ul {
    background-color: #ebebeb;
    margin: 16px 0px 0px 4.4px;
}

nav ul li i {
    width: 15px;
}
nav ul li ul li {
    background: #22242ae6 !important;
    border-left: 4px solid transparent;
    padding: 10px 20px;
}
nav ul li ul li:hover {
    color: #515151 !important;
}

.active {
    color: #fff !important;
}

.dropdown-menu {
    background: #fff !important;
}
.navbar-login {
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.dropdown-toggle {
    color: #fff;
    cursor: pointer;
}
.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}
.navbar-right .dropdown a {
    color: #404040;
}
.dropbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
