<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4>Members List</h4>
                <hr>
                <div class=" form">
                    <dx-data-grid id="gridContainer" [dataSource]="MemberList" [showBorders]="true"
                        [remoteOperations]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
                        <dxi-column dataField="Salutations" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="FirstName" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="LastName" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="Rolename" caption="Role" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="EmailId" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="PhoneNo" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="State" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="Country" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="Coordinator" dataType="string" alignment="center">
                        </dxi-column>
                        <dxi-column dataField="Supervisor" dataType="string" alignment="center">
                        </dxi-column>
                        <dxi-column dataField="isActive" dataType="boolean">
                        </dxi-column>
                        <dxi-column caption="Action" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <i class="fas fa-info-circle" style="color: #3f51b5;" title="Info"
                                (click)="Action(data,'info')"></i>
                            <i class="fas fa-edit" title="Edit" style="color: #f06033;"
                                (click)="Action(data,'edit')"></i>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</section>