<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Rajesh Pagare</h5>
            <li class="mt">
                <a href="admin_index.html">
                    <i class="fa fa-book"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Contact</span>
                </a>
                <ul class="sub">
                    <li><a href="admin_contact_list.html">Member List</a></li>
                    <li class="active"><a href="admin_add_contact.html">Add Member</a></li>
                    <li><a href="admin_report_approval.html">Report Approval</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub">
                    <li><a href="admin_dashboard.html">Dashboard</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>