.login_img {
    background-image: url("../../../assets/img//login-bg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 74.5em !important;
}
