<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4>Report Approval</h4>
                <hr>
                <div class=" form">
                    <dx-data-grid id="gridContainer" [dataSource]="ReportList" [showBorders]="true"
                        [remoteOperations]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
                        <dxi-column caption="S.No" width="70" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplate1" ></dxi-column>
                        <dxi-column dataField="AppMonth" caption="Month" dataType="string" >
                        </dxi-column>
                        <dxi-column dataField="ReportedBy" caption="Submitted By" dataType="string" >
                        </dxi-column>
                        <dxi-column dataField="OrgName" caption="Organization" dataType="string" >
                        </dxi-column>
                        <dxi-column dataField="Coordinator" dataType="string" >
                        </dxi-column>
                        <dxi-column dataField="Supervisor" dataType="string" >
                        </dxi-column>
                        <dxi-column dataField="PostedOn" dataType="date" >
                        </dxi-column>
                        <dxi-column caption="Action" [allowFiltering]="false" alignment="center" [allowSorting]="false"
                            cellTemplate="cellTemplate" ></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <i class="fas fa-info-circle" style="color: #3f51b5;" title="Info"
                                (click)="Action(data,'info')"></i>
                            <i class="fas fa-thumbs-up" title="Approve" style="color: #4caf50;"
                                (click)="Action(data,'approve')"></i>
                            <i class="fas fa-thumbs-down" title="Reject" style="color: #f06033;"
                                (click)="Action(data,'reject')"></i>
                        </div>
                        <div *dxTemplate="let data of 'cellTemplate1'">
                            <div>{{data.row.rowIndex + 1}}</div>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</section>